<div style="display: flex; justify-content: space-between; align-items: center; padding: 20px; background-color: #2a2a2a; color: white;">
  <div>
    <h2 style="margin: 0;">Dashboards Python</h2>
    <p style="margin-top: 10px; margin-bottom: 0;">
      Prof. Túlio Ribeiro<br>
      Laboratório de Ciência de Dados e Inteligência Artificial (LCDIA)<br>
      Universidade de Fortaleza
    </p>
  </div>
  <div>
    <img src="https://www.unifor.br/o/unifor-theme/images/unifor-logo-horizontal.svg" alt="Unifor Logo" style="width: 200px;">
  </div>
</div>

# Imports

In [1]:
# !pip install streamlit folium streamlit-folium

import pandas as pd
import numpy as np

# Carregamento dos Dados

In [2]:
df_ibge = pd.read_csv('datasets\IBGE_BAIRRO.csv', sep=';')

df_ibge.head()

,CD_GEOCODB,NM_BAIRRO,NM_REGIONAL,POP,INC,ARE,POLYGON
0,230440005033,PRESIDENTE KENNEDY,SER III,23004.0,15808100.0,1.734776,"[(-38.571132720258, -3.7369378546418996), (-38..."
1,230440005021,JARDIM IRACEMA,SER I,23184.0,8934606.0,1.106183,"[(-38.58346188, -3.7309949999999996), (-38.584..."
2,230440005020,JARDIM GUANABARA,SER I,14919.0,6559697.0,0.738613,"[(-38.58585084, -3.72538701), (-38.58542999999..."
3,230440005039,VILA VELHA,SER I,61617.0,25297939.0,7.283654,"[(-38.59518708, -3.72413601), (-38.59538004, -..."
4,230440005015,FARIAS BRITO,SER I,12063.0,9624283.0,0.947469,"[(-38.537343, -3.73687299), (-38.53742184, -3...."

In [3]:
df_casos = pd.read_csv('datasets\SERIES_CASOS_BAIRRO.csv', sep=';')

df_casos.head()

,DATA,AEROLANDIA,AEROPORTO,ALAGADICO,ALDEOTA,ALTO DA BALANCA,ALVARO WEYNE,AMADEU FURTADO,ANCURI,ANTONIO BEZERRA,...,SAO BENTO,SAO JOAO DO TAUAPE,SERRINHA,SIQUEIRA,VARJOTA,VICENTE PINZON,VILA ELLERY,VILA PERY,VILA UNIAO,VILA VELHA
0,2020-01-01,0,0,0,4,2,0,1,0,1,...,0,0,0,0,2,0,0,0,0,0
1,2020-01-02,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-03,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-04,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-05,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
pd.to_datetime(df_casos['DATA'].iloc[-1])

Timestamp('2021-01-25 00:00:00')

In [5]:
df_casos.index = pd.to_datetime(df_casos['DATA'])

In [6]:
df_casos.drop(columns=['DATA'], inplace=True)

In [7]:
df_casos.sum(axis=1)

DATA
2020-01-01     38
2020-01-02      2
2020-01-03      1
2020-01-04      2
2020-01-05      1
             ...
2021-01-21    164
2021-01-22    144
2021-01-23     24
2021-01-24      8
2021-01-25      6
Length: 391, dtype: int64

In [8]:
df_obitos = pd.read_csv('datasets\SERIES_OBITOS_BAIRRO.csv', sep=';')

df_obitos.head()

,DATA,AEROLANDIA,AEROPORTO,ALAGADICO,ALDEOTA,ALTO DA BALANCA,ALVARO WEYNE,AMADEU FURTADO,ANCURI,ANTONIO BEZERRA,...,SAO BENTO,SAO JOAO DO TAUAPE,SERRINHA,SIQUEIRA,VARJOTA,VICENTE PINZON,VILA ELLERY,VILA PERY,VILA UNIAO,VILA VELHA
0,2020-01-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-01-02,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-03,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-04,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-05,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Streamlit

In [9]:
%%writefile dashboards/streamlit_app/app.py
import streamlit as st
import pandas as pd
import numpy as np

st.title("💡 Demonstração Básica do Streamlit")
st.subheader("Widgets, Tabelas e Gráficos Interativos")

# Texto e Markdown
st.markdown("Este é um exemplo de como usar **Streamlit** no modo interativo.")

# Entrada de texto
nome = st.text_input("Digite seu nome:")
if nome:
    st.success(f"Olá, {nome}!")

# Slider
idade = st.slider("Selecione sua idade", 0, 100, 25)
st.write(f"Idade selecionada: {idade}")

# Checkbox
if st.checkbox("Mostrar tabela aleatória"):
    df = pd.DataFrame(np.random.randn(10, 3), columns=["A", "B", "C"])
    st.write(df)

# Gráfico
st.subheader("Gráfico de Linhas")
dados = pd.DataFrame(np.random.randn(50, 3), columns=["X", "Y", "Z"])
st.line_chart(dados)

# Selectbox
opcao = st.selectbox("Escolha uma opção", ["Opção 1", "Opção 2", "Opção 3"])
st.write(f"Você selecionou: {opcao}")

# Botão
if st.button("Clique aqui"):
    st.balloons()

Writing dashboards/streamlit_app/app.py